<h1><%= @listing.title %></h1>

<div data-controller="data" data-data-url-value="<%= app_listings_reviews_path %>">
  <p>If you just created this listing, give it a few seconds and hit refresh button below to display the data.</p>
  <button data-action="click->data#connect">Refresh</button>
</div>

<div>
  <canvas id="month-chart" width="800" height="200"></canvas>
  <canvas id="year-chart" width="800" height="200"></canvas>
  <canvas id="wordcloud" width="800" height="200"></canvas>
</div>
